* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* border: border-box; */
}

/* for whole  */
.navbar {
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* design for logo */
.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}
.nav-search:hover {
  border: 2px solid orange;
}

.border {
  border: 1px solid transparent;
}

.border:hover {
  border: 1px solid white;
}

/** Box 2 **/
/* done for Deliiver to */
.First-section {
  color: #cccccc;
  font-size: 13px;
  margin-left: 10px;
}
/* india and logo */
.second {
  color: white;
  font-size: 1 rem;
}
/* to make in 1 line logo and india */
.add-icon {
  display: flex;
  align-items: center;
}

/* 3 rd box */

.nav-search {
  display: flex;
  background-color: aqua;
  border-radius: 4px;
  width: 650px;
  height: 40px;
  border-radius: 5px;
  justify-content: space-evenly;
}

.search-select {
  /* justify-content: center; */
  font-size: 15px;
  background-color: #ccb2b2;
  width: 50px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}
.search-input {
  width: 590px;
  border: none;
}
.search-icon {
  width: 38px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #febd68;
  font-size: 20px;
}
.fourthbox {
  font-size: 13px;
}
.para {
  font-size: 15px;
}
#account {
  font-size: 18px;
  background-color: black;
  color: white;
  visibility: visible;
}

span {
  font-size: 12px;
}
.returns-orders {
  font-weight: bolder;
  font-size: 18px;
}

.carts i {
  font-size: 40px;
}

.cart {
  font-size: 20px;
}
.seconds {
  display: flex;
  height: 30px;
  background-color: #222f3d;
  color: white;
  align-items: center;
  font-size: large;
  justify-content: space-evenly;
}
.panelwriting {
  width: 80%;
  display: flex;
}

.borders {
  margin-left: 3%;
}

.hero-section {
  background-image: url("hero.jpg");
  height: 350px;
  background-size: cover;
}

.boxes {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(241, 222, 222);
  height: 500px;
  /* flex-wrap: wrap; */
}
.box {
  /* border: 2px solid black; */
  width: 20%;
  margin-top: 10px;
  height: 65%;
  background-color: white;
  box-shadow: 15px;
}
#done{
    font-size:21px;
    margin-top: 5px;
    margin-left: 5px;
    color: black;
    /* background-color: black; */
}
.image{
  align-items:center ;
  margin-top: 10px;
  justify-content: center;
  margin-left:9% ;
  background-image: cover;
}

.kitten a {
  font-size: 13px;
  text-decoration: none;
  margin-top: 15px;
}
.imagee{
overflow: hidden;
height: 80%;
margin-left: 1rem;
margin-right: 1rem;
margin-top: 0.1rem;
}